

@{
    ViewBag.Title = "FilmSessions";
    int timeTemp = 480;
    List<DateTime> ld = new List<DateTime>();
    var uniqueDate = new HashSet<DateTime>();
    var timeArr = new List<int>();
    var ses_id = 0;
    var tt = "";
    var count = 0;
}
<link href="~/Content/TimeLine.css" rel="stylesheet" />
<link href="~/Content/FilmSessions2.css" rel="stylesheet" />
<body style="width:100%">
    <div class="mainPhotoWrap">
     @foreach (var item in Model)
     {
         string mylink = "/Film/Show/" + item.film_id;
         if (item.isMain)
         {

            <a href="@mylink">
                <img class="mainPhoto" src="@item.pathPhoto" />
                </a>
                <div class="content">@item.title</div>
                }
                }
</div>
        <table class="showtimeTable">
            <tbody>
                <tr>
                    <th style="min-width:75px">&nbsp;</th>
                    <th style="min-width:75px">&nbsp;</th>
                    @for (var x = 0; x < 16; x++)
                    {
                        { TimeSpan res = TimeSpan.FromMinutes(timeTemp); tt = res.ToString("hh':'mm"); }
                        <th id="@tt" style="min-width:65px;">
                            <div>
                                @tt
                            </div>
                        </th>
                        { timeTemp += 60; }
                    }
                </tr>

                @foreach (var ses in ViewBag.Ses)
                {
                    ld.Add(ses.sesDate);
                }
                @{ uniqueDate = new HashSet<DateTime>(ld); ld.Clear(); }
                @foreach (var dat in uniqueDate)
                {
                    <tr class="datesLine">

                        <td class="date" style="width:150px" align="left">

                            @{var str = dat.ToString("m"); }
                            <p class="sesTime"> @str </p>
                        </td>
                        @foreach (var ses in ViewBag.Ses)
                        {
                            if (dat == ses.sesDate)
                            {
                                timeArr.Add(ses.timeIsh);
                                ses_id = ses.ses_id;
                            }
                        }
                        @{count = timeArr.Count();}
                        <td style="width:65px;"></td>
                        @for (var x = 480; x < 1441; x += 60)
                        {
                            if (timeArr.Exists(y => y.Equals(x)))
                            {
                                <td class="active-seans" style="width:65px">

                                    @{ TimeSpan res = TimeSpan.FromMinutes(x); tt = res.ToString("hh':'mm");}
                                    <button value="@tt" id="@ses_id" onclick="sessionStorage.id='@ses_id'" class="btn  seans">@tt</button>
                                </td>
                                        }
                                        else
                                        {
                                            <td style="width:65px"></td>

                                            }
                                        }
                        @{ timeArr.Clear();}
                    </tr>
                            }



            </tbody>
        </table>
      
</body>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
        $(".seans").click(function (event) {

            ses_id = $(this).attr('id');
            window.location = '/Film/Seat/?ids=' + ses_id;
        });
    });
</script>